<h2>Press these buttons to seed your roles and users!</h2>

<a asp-action="SeedRoles" asp-controller="Seed" class="btn btn-primary">Seed Roles</a>

<a asp-action="SeedUsers" asp-controller="Seed" class="btn btn-primary">Seed Users</a>

<a asp-action="SeedGenres" asp-controller="Seed" class="btn btn-info">Seed Genres</a>

<a asp-action="SeedMovies" asp-controller="Seed" class="btn btn-info">Seed Movies</a>

<a asp-action="SeedReviews" asp-controller="Seed" class="btn btn-info">Seed Reviews</a>

<a asp-action="SeedPrices" asp-controller="Seed" class="btn btn-info">Seed Prices</a>

<a asp-action="SeedSchedules" asp-controller="Seed" class="btn btn-info">Seed Schedules</a>


<a asp-action="SeedTransactions" asp-controller="Seed" class="btn btn-info">Seed Transactions</a>

<a asp-action="SeedTransactionDetails" asp-controller="Seed" class="btn btn-info">Seed TransactionsDetails</a>
