@model ChangeAddressViewModel

@{
    ViewData["Title"] = "Change Address";
}

<h1>Change Address</h1>

<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="ChangeAddress" method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="NewStreet" class="control-label">New Street</label>
                <input asp-for="NewStreet" class="form-control" />
                <span asp-validation-for="NewStreet" class="text-danger"></span>
            </div>


            <div class="form-group">
                <label asp-for="NewCity" class="control-label">New City</label>
                <input asp-for="NewCity" class="form-control" />
                <span asp-validation-for="NewCity" class="text-danger"></span>
            </div>


            <div class="form-group">
                <label asp-for="NewState" class="control-label">New State</label>
                <input asp-for="NewState" class="form-control" />
                <span asp-validation-for="NewState" class="text-danger"></span>
            </div>


            @*<div class="form-group">
                <label asp-for="NewAddress" class="control-label">New Address</label>
                <input asp-for="NewAddress" class="form-control" />
                <span asp-validation-for="NewAddress" class="text-danger"></span>
            </div>*@


            <div class="form-group">
                <input type="submit" value="Change Address" class="btn btn-primary" />
            </div>
            <input type="hidden" asp-for="Email" />
        </form>
    </div>
</div>

<div>
    <a asp-controller="Account" asp-action="Index">Back to Account</a>
</div>