@model EditProfileViewModel

@{
    ViewData["Title"] = "Edit Profile";
}

<h1>Edit Customer Profile</h1>

<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="EditCustomer" method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="PhoneNumber" class="control-label">Updated Phone Number</label>
                <input asp-for="PhoneNumber" class="form-control" />
                <span asp-validation-for="PhoneNumber" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Birthday" class="control-label">Updated Birthdate</label>
                <input asp-for="Birthday" class="form-control" />
                <span asp-validation-for="Birthday" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Address" class="control-label">Updated Address</label>
                <input asp-for="Address" class="form-control" />
                <span asp-validation-for="Address" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Update" class="btn btn-primary" />
            </div>
            <input type="hidden" asp-for="Email" />
        </form>
    </div>
</div>

<div>
    <a asp-controller="Account" asp-action="IndexCustomer">Back to Customer List</a>
</div>
